<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381204404552-seqm3pad7jbqvjp8p9rjijfkrr3i3kd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381204404552-seqm3pad7jbqvjp8p9rjijfkrr3i3kd2</string>
	<key>API_KEY</key>
	<string>AIzaSyDN0BHBDJyH9sjKP0wkvreH0beBP66YUYU</string>
	<key>GCM_SENDER_ID</key>
	<string>381204404552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mammothinteractive.hotelHunter</string>
	<key>PROJECT_ID</key>
	<string>par-production</string>
	<key>STORAGE_BUCKET</key>
	<string>par-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381204404552:ios:88ff9f8794efdae6f07b7d</string>
</dict>
</plist>